h2 {
    text-align: left;
}

hr {
    margin: 30px;
}

hr:last-of-type {
    margin-top: 20px;
}

form input[type="text"] {
    width: 100px;
}

#userstories {
    margin-left: 5%; 
    margin-top: 5%;
}

#testui{
    margin-left: 5%;
}