h2 {
    text-align: left;
}

hr {
    margin: 30px;
}

hr:last-of-type {
    margin-top: 50px;
}

form input[type="text"] {
    background-color: #e2e0e0;
    padding: 2px;
    width: 100px;
}

#userstories {
    margin-left: 5%; 
    margin-top: 5%;
}

#testui{
    margin-left: 5%;
}